---
layout: default
title: Amusings
cleantitle: Amusings by N. Nunn
description: Amusings on Writing, Gardening, and Tarot
---

<div class="container">
  <div class="row">
<div class="col-lg-3 pe-5">
   
      {% for post in site.categories.writing limit:1 %}
 
  <h2 class="mb-0"><a href="{{ post.url }}" class="nn-title blue-top-border d-block">{{ post.title }}</a></h2>
  <p class="nn-date border-bottom border-muted pb-1 mb-2 ms-2">{{ post.date | date: "%B %-d,  %Y" }}</p>
    <p class="ps-2">{{ post.excerpt }}<a href="{{ post.url }}" class="lt-blue nn-read">read more</a></p> 
 
 <div class="dblue rounded p-2">
  <a href="{{ post.url }}"> <img src="/assets/images/doodle2.png" class="rounded" alt="Some of my doodling and handwriting about my novel" width="100%" /></a>
  {% endfor %}
 </div>

</div>
<div class="col-lg-6 border-end border-start border-secondary-subtle pe-5 px-lg-5 mt-4 mt-lg-0">
  <div class="row">
  <div class="col-12">
     {% for post in site.categories.gardening limit:1 %}
  <div class="dgreen rounded text-center mb-3 p-2">
  <a href="{{ post.url }}"><img src="/assets/images/ready-to-transplant.png" class="img-fluid rounded" alt="Seedlings transplanted."/></a>
</div>
  </div>
 <div class="px-3 py-2">
  
 
  <h2 class="mb-0"><a href="{{ post.url }}" class="nn-title green-top-border">{{ post.title }}</a></h2>
  <p class="nn-date border-bottom border-muted pb-1 mb-2 ms-2">{{ post.date | date: "%B %-d,  %Y" }}</p>
 <p class="ps-2">{{ post.excerpt }} <a href="{{ post.url }}" class="lt-green nn-read">read more</a> </p>
 {% endfor %}

</div>
</div>
</div>
<div class="col-lg-3 ps-3 ps-lg-5 pe-5 pe-lg-0">
  
    {% for post in site.categories.tarot limit:1 %}
 
  <h2 class="mb-0"><a href="{{ post.url }}" class="nn-title yellow-top-border d-block">{{ post.title }}</a></h2>
  <p class="nn-date border-bottom border-muted pb-1 mb-2 ms-2">{{ post.date | date: "%B %-d,  %Y" }}</p>
 <p class="ps-2">{{ post.excerpt }} <a href="{{ post.url }}" class="nn-read lt-yellow">read more</a></p>
 
 <div class="dyellow p-2 mt-2 rounded ms-2 me-5 col-12">
 <a href="{{ post.url }}"><img src="/assets/images/solar.gif" class="rounded img-fluid" alt="A gif of an orange circle and four taro cards being placed" /></a>
 {% endfor %}
</div>
</div>
</div>
</div>
<div class="container-fluid border-top border-secondary-subtle bg-light mt-3 pt-4 d-none d-lg-block">
  <div class="container">
 
     <div class="row">
     
 {% for category in site.categories %}
 <div class="col-md-4">
    {% capture category_name %}{{ category | first }}{% endcapture %}
  
    <h3 class="category-head">{{ category_name | capitalize }} Posts</h3>
     <ul class="list-group mb-4">
    {% for post in site.categories[category_name] offset:1 %}

  
     <a href="{{ post.url }}" class="list-group-item list-group-item-action red-text fw-bold">  <div class="row"> <div class="col-4 thumbs"><img src="{{ post.image }}" class="img-fluid"/></div> <div class="col-8">{{ post.title }}<br/>
            <span class="nn-date fw-normal">{{ post.date | date: "%B %-d,  %Y" }}</span></div></div></a>

    {% endfor %}
</ul>
 </div>
{% endfor %}
      
   </div>
</div>
  </div>
<div class="container-fluid border-top border-secondary-subtle bg-light mt-3 pt-4 d-none d-lg-block">
  <div class="container pt-5 pb-4">
    <div class="row">
<div id="carouselExample" class="carousel slide carousel-fade carousel-dark" data-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active text-center">
       <p class="mb-1 nn-quotes">We come spinning out of nothingness<br/> scattering stars like dust<br/>
the stars make a circle<br/> and in the middle we dance.</p> <p class="small">~ Rumi {<a href="/citations">citation</a>}</p>


    </div>
    <div class="carousel-item text-center">
       <p class="mb-1 nn-quotes">There is no time for despair, no place for self-pity, <br/>no need for silence, no room for fear. <br/>We speak, we write, we do language. That is how civilizations heal.

</p> <p class="small">~ Toni Morrison {<a href="/citations">citation</a>}</p>

    </div>
    <div class="carousel-item text-center">
      <p class="mb-1 nn-quotes">Around us swirls the dust of the cities,<br/>
      the garbage clings to us.<br/>
    And yet if our Earth needed to <br/>
  she could weave us together like roses.</p>
   <p class="small">~ Rainer Maria Rilke {<a href="/citations">citation</a>}</p>
    </div>
  </div>
</div>
<script>
  $('.carousel').carousel({
  interval: 3000
})
  </script>
 
</div>
  </div>
</div>