<footer class="container-fluid border-top border-secondary-subtle mt-auto py-3" >

	<div class="container">
	<p class="text-center icons mb-1"><a href="mailto:natasha@nnunn.ca"><i class="fa-solid fa-envelope pe-4"></i></a><a href="https://www.instagram.com/nnunn.o" target="_blank"><i class="fa-brands fa-instagram pe-4"></i></a><a href="https://www.goodreads.com/user/show/62503962-natasha-nunn" target="_blank"><i class="fa-brands fa-goodreads"></i></a></p>
	</div>
	<p class="small text-center text-muted"><a href="/citations">Citations and Attributions</a> </p>
<p class="small text-center text-muted">Handmade with love &copy; 2023 Natasha Nunn</p>
</footer>