body{
	font-family: 'Cormorant Garamond', serif;
	font-size: 1.3em;
}
a{
	text-decoration: none;
}
h2{
	font-size: 1.2em;
}
.nn-navbar{
	box-shadow: 0px 1px 9px grey;
	margin-bottom: 20px;
}
.nn-navbar-brand{
	font-size: 2em;
	margin-left: 10px;
}
.nn-navbar-brand a{
	color:#222;
}
.nn-navbar-brand a:hover{
	color:#555;
}
.nn-about{
	background-color:#960251;
	border-radius: 30px;
	color: #fff;
}
.nn-about:hover{
	background-color:#660036;
}
.nn-byline a{
	color:#000;
	text-decoration: none;
	font-weight: bold;
	padding: 4px 3px;
	border-radius: 4px;
} 
.blue{
	background-color:#DDE7F8;
}
.blue:hover, .dblue{
	background-color:#A0BBEB;
	}

.green{
	background-color:#E9F1E4;
}
.green:hover, .dgreen{
	background-color:#88C264;
	}

.yellow{
	background-color:#FCF6D9;
}
.yellow:hover, .dyellow{
	background-color:#F3D651;
	}
.red{
	color:#960251;
}
.nn-byline-title{
	font-family: 'Sassy Frass', cursive;
	font-size:200px;
	line-height: 180px;
	color:#960251;
}
.nn-byline-title2{
	font-family: 'Alex Brush', cursive;
	font-size:60px;
	margin-left:-10px;
	}
.icons a{
	color:#960251;
	font-size: 2em;
}
.icons a:hover{
	color:#660036;
}
.nn-h1{
	font-weight:bold;
	font-size:30px;
}
.nn-img{
	filter: contrast(200%) brightness(150%);
	opacity: 80%;
}
.nn-title-gr, .nn-title-yl, .nn-title-bl{
	color:#333;
	font-weight: bold;
}
.nn-title-gr:hover{
	border-top:solid #88C264 3px;
}
.nn-title-yl:hover{
	border-top:solid #F3D651 3px;
}
.nn-title-bl:hover{
	border-top:solid #A0BBEB 3px;
}
.nn-quotes{
	font-family: 'Alex Brush', cursive;
	font-size:50px;
	line-height: 50px;
}
