body{
	font-family: 'Cormorant Garamond', serif;
	font-size: 1.3em;
}
a{
	text-decoration: underline;
	color:#960251;
}
h2{
	font-size: 1.2em;
}
.nn-navbar{
	box-shadow: 0px 1px 9px grey;
	margin-bottom: 20px;
}
.nn-navbar-brand{
	font-size: 2em;
	margin-left: 10px;
}
.nn-navbar-brand a{
	color:#222;
	text-decoration: none;
}
.nn-navbar-brand a:hover, .nn-navbar-brand span.red-text:hover{
	color:#000;
}
.nn-about{
	background-color:#960251;
	border-radius: 30px;
	color: #fff;
	text-decoration: none;
}
.nn-about:hover{
	background-color:#660036;
}
.nn-byline a, .nn-title{
	color:#000;
	font-weight: bold;
	padding: 0 5px 3px 5px;
	border-radius: 10px;
	transition: all .9s;
	text-decoration: none;
} 
.blue-top-border{
	border-top: solid 3px #A0BBEB;
}
.blue-top-border:hover, .dblue{
	background-color:#A0BBEB;
	}

.green-top-border{
	border-top: solid 3px #88C264;
}
.green-top-border:hover, .dgreen{
	background-color:#88C264;
	}

.yellow-top-border{
	border-top: solid 3px #F3D651;
}
.yellow-top-border:hover, .dyellow{
	background-color:#F3D651;
	}
.red-text{
	color:#960251;
}
.blue-text{
	color:#A0BBEB;
}
.green-text{
	color:#88C264;
}
.yellow-text{
	color:#F3D651;
}
.nn-byline-title{
	font-family: 'Sassy Frass', cursive;
	font-size:200px;
	line-height: 180px;
	color:#960251;
}
.nn-byline-title2{
	font-family: 'Alex Brush', cursive;
	font-size:60px;
	margin-left:-10px;
	}
.icons a{
	color:#960251;
	font-size: 2em;
}
.icons a:hover{
	color:#660036;
}
.nn-h1{
	font-weight:bold;
	font-size:30px;
}
.nn-img{
	filter: contrast(200%) brightness(150%);
	opacity: 80%;
}
.nn-quotes{
	font-family: 'Alex Brush', cursive;
	font-size:55px;
	line-height: 60px;
}
