body{
	font-family: 'Cormorant Garamond', serif;
	font-size: 1.3em;
}
a{
	text-decoration: none;
	border-bottom:1px solid #960251;
	color:#666;
	font-weight: bold;
}
a:hover{
	border-bottom: none;
	color:#000;
}
.nn-sm{
	font-size:0.6em;
	margin-top:8px;
}
.nn-navbar{
	box-shadow: 0px 1px 9px grey;
	margin-bottom: 20px;
}
.nn-navbar-brand{
	font-size: 2em;
	margin-left: 10px;
}
.nn-navbar-brand a{
	color:#222;
	border-bottom: none;
}
.nn-navbar-brand a:hover, .nn-navbar-brand span.red-text:hover{
	color:#000;
}
.nn-about{
	background-color:#960251;
	border-radius: 30px;
	color: #fff;
	border-bottom: none;
}
.nn-about:hover{
	background-color:#660036;
	color: #fff;
}
.nn-byline a, .nn-title, .nn-h1, .nn-h2{
	color:#000;
	font-weight: bold;
	padding: 0 5px 3px 5px;
	border-radius: 10px 0px 10px 0px;
	transition: all 1s;
} 
.nn-h1, .nn-title{
	padding:0 8px;
}
.nn-title{
	font-size: 0.8em;
}
.nn-h1{
	font-size: 1.5em;
}
.nn-h2{
	font-size: 1.1em;
}
.blue-top-border{
	border: 1px solid #A0BBEB;
	border-width: 3px 0 0 1px;
}
.blue-top-border:hover, .dblue{
	background-color:#A0BBEB;
}
.green-top-border{
	border: 1px solid #88C264;
	border-width: 3px 0 0 1px;
}
.green-top-border:hover, .dgreen{
	background-color:#88C264;
	}

.yellow-top-border{
	border: 1px solid #F3D651;
	border-width: 3px 0 0 1px;
}
.yellow-top-border:hover, .dyellow{
	background-color:#F3D651;
	}
.red-top-border{
	border: 1px solid #960251;
	border-width: 3px 0 0 1px;
}
.red-top-border:hover, .red-bg{
	background-color:#960251;
	color: #fff;
}
.red-text{
	color:#960251;
}
.blue-text{
	color:#A0BBEB;
}
.green-text{
	color:#88C264;
}
.yellow-text{
	color:#F3D651;
}
.nn-byline-title{
	font-family: 'Sassy Frass', cursive;
	font-size:200px;
	line-height: 180px;
	color:#960251;
}
.nn-byline-title2{
	font-family: 'La Belle Aurore', cursive;
	font-size:50px;
	margin-left:-10px;
	}
.icons a{
	color:#960251;
	font-size: 2em;
	border-bottom: none;
}
.icons a:hover{
	color:#660036;
}
.nn-img{
	filter: contrast(200%) brightness(150%);
	opacity: 80%;
}
.nn-quotes, .nn-quotes-sm{
	font-family: 'La Belle Aurore', cursive;
	font-size:45px;
	line-height: 60px;
}
.nn-quotes-sm{
	font-size:35px;
	line-height: 47px;
}
.carousel-item{
	height: 340px;
}
.nn-date{
	font-size: 0.7em;
	font-family: Arial, sans-serif;
	margin: 5px 0 5px 0px;
	color:#666;
}
.lt-blue{
	background-color: #EEF3FB;
}
.lt-green{
	background-color: #E8F4E2;
}
.lt-yellow{
	background-color: #FCF6D9;
}
.nn-read{
	padding: 2px 5px;
	border-radius: 5px;
	color: #000;
	border:none;
	font-size: 0.85em;
	border: #fff solid 1px;
	border-width: 1px 0;
}
.nn-read:hover{
	opacity: .7;
	border: #D3D3D3 solid 1px;
	border-width: 1px 0;
}
.nn-caption{
	border-radius-bottom: 5px;
	padding: 5px 20px;
	text-align: center;
	margin-bottom: 0;
	margin:0 10px;
	font-size: 0.9em;
}
.nn-cover{
	object-fit: cover;
}
.mt-n2{
	margin-top: -10px;
}
